body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    /* 浅灰色背景 */
    margin: 0 auto;
    width: 100%;
    /* 设置宽度为 80%，并居中 */
}

.markdown-body {
    width: 80%;
    margin: 0 auto;
}


/* 导航栏样式，保持不变 */
nav {
    background-color: #222;
    /* 深灰色背景 */
    color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* 添加阴影 */
}

.nav-container {
    width: 100%;
    /* 设置宽度为 100% 占满屏幕 */
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
    /* 增加间距 */
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 12px 18px;
    /* 增加内边距 */
    display: block;
    transition: background-color 0.3s ease;
    /* 添加过渡效果 */
}

nav ul li a:hover {
    background-color: #444;
    /* 鼠标悬停时的背景颜色 */
}

/* 日志列表样式，添加特定类名 .log-list */
.log-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.log-list li {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 15px;
    display: flex;
    /* 使用 flexbox 布局 */
    align-items: center;
    /* 垂直居中对齐 */
    transition: all 0.3s ease;
    border-radius: 20px;
    box-shadow: 10px 4px 10px rgba(0, 0, 0, 0.1);
}

.log-list li:hover {
    background-color: #f1f1f1;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.log-list li post_thread {
    color: #007BFF;
    text-decoration: none;
}

.log-list li post_thread:hover {
    text-decoration: underline;
}

.log-list li span {
    color: #777;
    margin-left: 10px;
    white-space: nowrap;
    /* 防止日期换行 */
}

.info-section {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 10px 4px 10px rgba(0, 0, 0, 0.1);
}

.info-row {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.info-row-home {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    justify-content: center;
}
.info-row-posts{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    margin-left: 50px;
}

.info-row-label {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.info-row img {
    margin-right: 50px;
    /*圆角  */
    border-radius: 10px;
}

.info-label {
    width: 120px;
    font-size:larger;
    font-weight: bold;
}


/* 为按钮添加样式 */
.download-button {
    width: 128px;
    display: inline-block;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    margin-right: 10px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.download-button img {
    margin-right: 5px;
}

.download-button:hover {
    background-color: #0056b3;
}



.log-icon img {
    margin-right: 10px; /* 图标与标题之间的间距 */
    vertical-align: middle; /* 垂直居中 */
    border-radius: 10px; /* 圆角  */    
  }

  /* 日志项样式 */
  .log-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  .log-item:hover {
    transform: translateY(-5px);
  }
  /* 日志标题样式 */
  .log-item h1 {
    margin: 0 0 10px 0;
    font-size: 1.2em;
  }

  .log-item h1 a {
    color: #007BFF;
    text-decoration: none;
  }

  .log-item h2 a:hover {
    text-decoration: underline;
  }
   .log-icon {
    margin-right: 10px;
  }
  .log-content {
    flex-grow: 1;
  }
 .date {
    margin-left: 20px;
  }


/* 手机端样式 */
@media screen and (max-width: 600px) {
    .info-row-posts {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        margin-left: 0px;
        justify-content: center;
    }
    .info-row img {
        margin: 0 auto;
    }
    .markdown-body{
        width: 90%;
    }
    .log-item {
        flex-direction: column;
    }
    .info-label{
        text-align: center;
    }
    .info-row {
        flex-direction: column;
    }
    .info-row-label {
        margin-top: 10px;
        display: flex;
        text-align: start;
        margin-bottom: 10px;
    }
    .download-button {
        margin: 0 auto;
    }
    .log-icon img {
        margin: 10px;
        /* 图标与标题之间的间距 */
        vertical-align: middle;
        /* 垂直居中 */
        border-radius: 10px;
        /* 圆角  */
    }

    .log-content {
        text-align: center;
        /* 文本居中 */
    }

    body {
        font-size: 14px;
    }
}